# Database
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/dxn_store

# Store Info
NEXT_PUBLIC_STORE_NAME=DXN Store
NEXT_PUBLIC_STORE_DESCRIPTION=فروشگاه محصولات بهداشتی، ارایشی و مکمل‌های طبیعی
NEXT_PUBLIC_STORE_OWNER=Ghazi Argoshi
NEXT_PUBLIC_STORE_LOCATION=اربیل، کردستان، عراق
NEXT_PUBLIC_STORE_PHONE=+964750000000
NEXT_PUBLIC_STORE_EMAIL=info@dxnstore.com
